<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Face Detection Demo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body style="background-color:powderblue;">

<div class = "container">
    <div class = "starter-template">
        <p> Face detection using <a href="https://opencv-python-tutroals.readthedocs.io/en/latest/py_tutorials/py_objdetect/py_face_detection/py_face_detection.html" target="blank">Haar Cascades Classifier </a> | Created using Python, Flask and OpenCV </p>
        <p> Created By <B>Saurabh Gupta</B> - November, 2020 </p>
    </div>
        <h2 style="color:purple;"><marquee>Let's have some fun detecting faces!!</marquee></h2>
        <p class = "lead"> Please enter your name in the box below and click submit button to open camera. </p>
        <form method="POST" action="/submit">
        <input type="text" name="username" placeholder="Enter your name...">
        <input type="submit">
        </form><br>
        <h4 style="color:red;">>>> The face detection model detects multiple faces and shows output for a single face (largest face) based upon the area of all faces captured.</h4>
        
</div>


<div class="text-center">
    {% if init %}
        {% if faceDetected %}
            <div class="alert alert-success" style="margin-top:18px;">
                <strong>Congratulations!</strong> face(s) detection is successful. !!
            </div>

        {% else %}
            <div class="alert alert-danger" style="margin-top:18px;">
                <strong>Nope!</strong> No face detected. Try again .!!
            </div>
        {% endif %}
    {% endif %}
</div>

</body>
</html>